<h1>게시글 수정 </h1>
<p>Find me in app/views/post/new.html.erb</p>
<!--
<form action="/post/create" method="post">
    제목 : <input type="text" name="title">
    내용 : <input type="text" name="content">
    <input type="submit" value="글쓰기">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
</form> -->

<%= form_tag("/post/modify/#{@post.id}") do %>
   <%= label_tag(:title, "제목 : ") %>
   <%= text_field_tag(:title, @post.title) %>
   <br/>
   <%= label_tag(:content, "내용 : ") %>
   <%= text_field_tag(:content, @post.content) %>
   <br/>
   <%= submit_tag("글수정하기") %>
<% end %>


<!--
<div class="row">
  <div class="col-lg-3 col-sm-2"></div>
  <div class="col-12 col-sm-8 col-lg-6">
    <form action="/post/modify/<%=params[:id]%>" method='post'>
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input value="<%=@post.title%>" type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Content</label>
        <input value="<%=@post.content%>" type="text" name="content" class="form-control" id="content" placeholder="Password">
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    </form>
  </div>
  <div class="col-lg-3 col-sm-2"></div>
</div> -->
